@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Jost:ital,wght@0,100..900;1,100..900&family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Jost:ital,wght@0,100..900;1,100..900&family=Orelega+One&family=Oswald:wght@200..700&display=swap');
#cover {
    height: 763px;
    display: flex;
    align-items: center;
    background-image: url(unsplash_1vtFi8zCc08.png);
    font-family: "Orelega One";
}
.container {
    width: 1140px;
    margin: 0 auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a {
    margin-left: 30px;
    text-decoration: none;
    color:rgb(45, 41, 101) ;
    font-family: "Oswald";
}
.logo {
    font-family: "Indie Flower";
    color: rgb(65, 102, 134);
}
.profile {
    max-width: 20px;
}